article.AssetSearchList--asset {
  padding-bottom: 85px;
  transform: none !important;
  position: relative;
}

.Asset--loaded {
  transform: none !important;
}

div[role='list'] div[role='listitem'] {
  min-height: 95px;
}

*[class*='FeatureTableCell'][width='300px']:nth-child(2),
*[class*='FeatureTableCell'][width='150px']:nth-child(2) {
  width: 500px !important;
  flex: 0 0 500px !important;
}

div[role='listitem'] .AssetCell--container {
  padding-left: 190px;
  position: relative;
}

div[role='list']
  div[role='listitem']
  .AssetCell--container
  .SuperSea__AssetInfo {
  z-index: 1;
  min-width: 190px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -31px;
}

.SuperSea--tabActive li[class*='PhoenixTabsreact__TabItem'] {
  border-bottom-color: transparent !important;
}
.SuperSea--tabActive
  li[class*='PhoenixTabsreact__TabItem']
  *[class*='PhoenixTextreact'] {
  color: #8a939b !important;
}

.SuperSea__CollectionMenuItem__Item {
  opacity: 0.5;
  transition: opacity 400ms ease;
  position: relative;
}

.SuperSea--tabActive .SuperSea__CollectionMenuItem__Item {
  opacity: 1;
}

.chakra-ui-light .SuperSea--tabActive .SuperSea__CollectionMenuItem__Item {
  border-color: #04111d;
}

.chakra-ui-dark .SuperSea--tabActive .SuperSea__CollectionMenuItem__Item {
  border-color: white;
}

.SuperSea__ListingNotifier {
  padding: 10px 30px;
}

@keyframes SuperSea__FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes SuperSea__Rotate {
  to {
    transform: rotate(360deg);
  }
}
